@import "../Variables/Variables";

.main-text{
 
    .customer-support{
        color: $blueAccentDark
    }
    .left-main{
        color: $yellowAccentDark;
    }
    .faq-question{
        color: $yellowAccentDark;
    }
}